.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fcfcfc;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input {
  font-family: inherit;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-head {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  padding: 16px 0;
  display: block;
}

.logo-head-web {
  color: #4d5ae5;
}

.navigation-list {
  display: none;
}

.address {
  display: none;
}

.btn-mob-menu {
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.icon-mob-menu {
  fill: #2f2f37;
  display: block;
}

@media screen and (min-width: 768px) {
  .btn-mob-menu {
    display: none;
  }

  .logo-head {
    margin-right: 120px;
    padding: 24px 0;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navigation-list .nav-link:hover,
  .navigation-list .nav-link:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-list .nav-link:active {
    color: #404bbf;
    text-decoration: none;
  }

  .nav-link {
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio {
    color: #404bbf;
    position: relative;
  }

  .studio::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .address {
    display: block;
    font-style: normal;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address .contact-link:hover,
  .address .contact-link:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1440px) {
  .logo-head {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .contact-link {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mob-menu-btn-cls {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  padding: 0;
  position: absolute;
  content: "";
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.mob-btn-cls-icon {
}
.mob-menu-navigation {
  margin-bottom: auto;
}
.mob-menu-nav-list {
}
.mob-menu-nav-item {
}
.mob-menu-adr {
}
.mob-menu-adr-list {
}
.mob-menu-adr-item {
}
.contact-link {
}
.mob-menu-social-list {
}
.mob-menu-social-item {
}
.mob-menu-social-link {
}
.team-svg {
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

/* #endregion header */

/* #region main */

.main-idea {
  padding: 72px 0;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  max-width: 215px;
  margin-left: auto;
  margin-right: auto;
}

.main-idea {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob-people-office.jpg);
  max-width: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.button-os {
  display: block;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-os:hover,
.button-os:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .main-idea {
    padding: 112px 0;
  }

  .main-title {
    font-size: 56px;
    margin-bottom: 36px;
    max-width: 495px;
  }

  .main-idea {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-people-office.jpg);
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .main-idea {
    padding: 188px 0;
    max-width: 1440px;
  }
  .main-title {
    margin-bottom: 48px;
  }

  .main-idea {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
}

/* #endregion main */

/* #region adv */

.adv-icon {
  display: none;
}

.advantages {
  padding: 96px 0;
}

.adv-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.ad-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.ad-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .ad-title {
    text-align: start;
  }
  .adv-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .adv-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .advantages {
    padding: 120px 0;
  }

  .adv-item {
    width: calc((100% - 72px) / 4);
  }

  .adv-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .ad-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .ad-text {
    font-weight: 400;
  }
}

/* #endregion adv */

/* #region team */

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.container-team {
  padding: 32px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-list-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-item {
  width: 264px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item-icon {
  width: 40px;
  height: 40px;
}

.team-link-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-link-icon:hover,
.team-link-icon:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg {
  fill: #f4f4fd;
}

.team-name {
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team {
    padding: 96px 108px;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .team-item {
    max-width: 264px;
    width: calc((100% - 24px) / 2);
  }
}

/* #endregion team */

/* #region portfolio */

.portfolio-text-overflow {
  display: none;
}

.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-container-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
}

.portfolio-item {
  height: 100%;
  background: #fff;
  background-color: transparent;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .portfolio-text-overflow {
    display: block;
  }
  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover,
  .portfolio-item:hover .portfolio-text-overflow {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
  }

  .portfolio-item-overflow {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .portfolio-text-overflow {
    position: absolute;
    content: "";
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* #endregion portfolio */

/* #region footer */

.footer {
  background: #2e2f42;
  padding: 96px 0;
}

.footer-logo-ctn,
.social-media,
.footer-subscribe,
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-link-web {
  font-family: "Raleway", sans-serif;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.footer-list-icon {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
  line-height: 150%;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-sm-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-inp {
  display: block;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  background-color: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-inp::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer-btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  fill: #fff;
}

.footer-subscribe-icon {
  margin-left: 16px;
}

.footer-ctn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .footer {
    background: #2e2f42;
    padding-right: 92px;
    padding-left: 92px;
  }

  .footer-ctn {
    row-gap: 72px;
    column-gap: 24px;
    justify-content: left;
  }

  .footer-logo-ctn,
  .social-media,
  .footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .footer-inp {
    width: 264px;
    margin-bottom: 0;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    background: #2e2f42;
    padding: 100px 0;
  }

  .footer .team-link-icon:hover,
  .footer .team-link-icon:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer .container {
    display: flex;
    align-items: baseline;
  }

  .footer-ctn {
    gap: 0;
    justify-content: left;
  }

  .footer-logo-ctn {
    margin-right: 120px;
  }

  .social-media {
    margin-right: 80px;
  }

  .footer-inp::placeholder {
    color: #ffffff;
  }

  .footer-btn-subscribe {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-subscribe-icon {
    margin-left: 16px;
  }

  .footer-btn-subscribe:hover,
  .footer-btn-subscribe:focus {
    background-color: #31d0aa;
  }
}

/* #endregion footer */
